<h1>Editing task </h1>

<div id="errors_list"></div>
<%= form_for @task, :remote=>true do |f| %>
  		<%= render :partial => "form_member", :object => f %>
		</br>
  		<%= f.submit "Guardar cambios" %>
<% end %>