<div id="content_left">
	<h1>Miembros de las áreas que administra</h1>
	<div id="navigation">
  		<%= render :partial => "area_member", :collection => @areas %>
	</div>
</div>

<div id="content_right">
	
</div>