<li>
<%= div_for(planning) do %>
<%= link_to planning.name, edit_planning_path(planning), :remote => true %>
<%= link_to 'Destroy', planning, :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
<% end %> 
</li>